# Configuración de Odoo
ODOO_URL="https://amah.odoo.com"
ODOO_DB="amah-main-9110254"
ODOO_USER="tu_usuario@agrovetmarket.com"
ODOO_PASSWORD="tu_api_key_o_contraseña_aqui"

# Clave secreta para la sesión de Flask
SECRET_KEY="genera_una_clave_secreta_aleatoria"

# Google Sheets
GOOGLE_SHEET_NAME="MetasDashboardVentas"

# Configuración de Entorno
FLASK_ENV=development

# URL base de producción
PRODUCTION_URL=https://dashboard-ventas-inter.onrender.com

# OAuth2 Google
GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_client_secret
